
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /lodge_info/{docId} {
      allow read, write: if true; // Public read, admin write recommended for prod
    }

    match /service_categories/{categoryId} {
      allow read, write: if true; // Public read, admin write recommended for prod

      match /items/{itemId} {
        allow read, write: if true; // Public read, admin write recommended for prod
      }
    }
    
    match /minibar_items/{itemId} {
       allow read, write: if true; // Public read, admin write recommended for prod
    }

    match /tour_slides/{slideId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
